.equipe { text-align: center; }
.membros { display: flex; justify-content: center; gap: 40px; margin-top: 30px; }
.membro h4 { margin: 10px 0 5px; }
.membro p { color: #666; margin: 0; }
.imgAnne{
   width: 150px;
   height: 150px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
}

.imgGaby{
       width: 150px;
   height: 150px;
   border-radius: 100%;
   object-fit: cover;
   object-position: center;
}
