.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 0.5rem;
  background-color: #94a8cc;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImg {
  width: 150px;
}

.logoImg2 {
  width: 50px;
}
.icon {
  color: #354a72;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
}

@media (max-width: 600px) {
  .logoImg {
    width: 110px;
  }

  .navbar {
    padding: 1rem;
  }

  .links {
    gap: 12px;
  }
}
